<template name="layout">
  <div class="container">
    {{> header}}
    {{> errors}}
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>

  <div id="footer">
    <div class="row text-center">
      <div class="col-xs-6 col-sm-3 ">
          <div class="icon_shows">
            <img src="images/saleware.png" alt="" />
            <p>第一</p>
          </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="icon_shows">
          <img src="images/saleknowlage.png" alt="" />
          <p>第一</p>
        </div>
      </div>
    </div>
  </div>
</template>
